<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ea quia eum aliquid maxime animi, facere placeat incidunt nobis officia quisquam sit dolore perspiciatis veritatis soluta laboriosam repudiandae atque illum exercitationem cupiditate sequi laborum asperiores eos! Aperiam illo vero non.</p>
    </div>
</div>