<div class="jumbotron mt -4">
    <h1 class="dispaly-4">Seccion de Novedades, Memos, Avisos y Notificaciones</h1>
    <p class="lead"> Aqui va un subtitulo</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, molestias. Minus sit doloribus reprehenderit explicabo aliquam dolore ipsum sequi quas eius dolor, ullam mollitia perspiciatis porro voluptatibus exercitationem. Consequuntur, error!</p>
    <a href="https://www.google.com" class="btn btn-primary btn-lg">Ver mas...</a> 
</div>