/*div{
    margin: 0px 0px 0px 0px;
    background-color: rgb(42, 157, 165);
    border-color: darkblue;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style:solid ;
}*/


