<!-- Meensaje de alerta para validar errores-->

<!--Errores de passport-->
{{#if error}} 
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}


<!--Errores comunes-->
<!-- si existe un error recorro el arreglo-->
{{#each errors}} 
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}